* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all ease-in-out 3ms;
  transition: all ease-in-out 3ms;
}

body {
  z-index: 1;
  overflow-x: hidden;
  font-family: 'Avenir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding-top: 0.5em;
  /* padding-bottom: 4.5em; */
  /* padding-bottom: 10vh; */
  position: relative;
  /* min-height: 100vh; */
  display: table;
  width: 100%;
}

nav.transparent {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#navW.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

nav a.brand-logo {
  margin-left: 1.5em;
}

#navW.navbar-fixed nav.transparent {
  background: white !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#navW.navbar-fixed nav.transparent li a, #navW.navbar-fixed nav.transparent a.brand-logo, #navW.navbar-fixed nav.transparent a {
  color: #455ad4 ;
}

#navW.navbar-fixed nav.transparent li a.btn.transparent {
  border: solid 1px #455ad4 !important;
}

.nav-wrapper.container {
  min-width: 95%;
}

nav.transparent a.btn.transparent {
  border: 2px solid white;
}

nav li a {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

nav li a:hover {
  background: transparent;
}

.row {
  margin-bottom: 0;
}

.banner {
  padding-top: 10vh;
}

.banner h1 {
  font-size: 3em;
  font-weight: 500;
}

.banner p {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
}

.banner p a {
  color: #FFEB3B;
}

.banner form.row {
  max-width: 30em;
  margin-top: -1em;
}

form.row span {
  background: #26323842;
  display: inline-block;
  border-radius: 4px;
  height: 5em;
}

.banner form input[type="text"] {
  padding-left: 0.5em;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 0.5em;
  color: #3F51B5;
}

.banner form button {
  margin-top: 1em;
  line-height: 1em;
  height: 2.95em;
}

.banner form .market-link {
  margin-top: 0em;
  padding-bottom: 0.8em;
}

.infobar {
  padding: 1em 1em 2em;
  position: relative;
  width: 100%;
  left: 0;
  height: 8em;
  bottom: 0;
  margin-top: 3.5em;
  background: #0000002b;
}

.infobar .main {
  margin-top: 0.3em;
}

.infobar .main+p {
  margin-top: 0.35em;
}

.infobar img.main {
  max-width: 3.7em;
  margin-top: 1.1em;
  margin-right: 1em;
  border-radius: 50%;
}

.infobar span.afterImg {
  font-size: 113%;
  margin-top: -7px;
  display: -webkit-box;
}

.infobar p.flow {
  margin-top: 0.6em;
  font-size: 1.3em;
}

.infobar p.flow.review {
  font-size: 1em;
  margin-bottom: 0.3em;
  margin-top: 0.6em;
}

section {
  padding: 2em 4em 3em;
  padding: 2em 5vw 3em;
}

#how .container {
  min-width: 80%;
  padding-bottom: 4em;
}

#how li {
  padding: 0.2em 0.3em 0.1em 0.5em;
  border-radius: 4px;
  margin-top: 2px;
}

#how li.active, #how li:hover {
  color: #455ad4;
  background: #fbfbfb;
  border: 1px solid #455ad4;
}

#how h4.how {
  margin-bottom: 1.5em;
}

#how ul li {
  cursor: pointer;
}
ul li .numbering {
  border-radius: 50%;
  border: 1px solid grey;
  padding: 4px 10px;
  font-weight: 500;
  color: #455ad4;
  float: left;
  margin-top: 1.2em;
  margin-right: 1.2em;
}

ul li.active .numbering, ul li:active .numbering {
  border: 1px solid #455ad4;
}

ul li .numbering+p {
  display: -webkit-box;
  margin-bottom: 2em;
}

ul li:nth-child(2) .numbering+p {
  display: -webkit-box;
  margin-bottom: 0em;
}

.descBox {
  width: 20em;
  height: 25em;
  float: right;
  border: 4px double #3F51B5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -2em;
  margin-bottom: 2em;
  position: relative;
  color: #3F51B5;
}

.descBox .widgetIcon {
  border: 4px double #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: -2em;
  padding: 2.2em 3.5em;
  bottom: -3em;
  background: #eceff1;
}

.descBox .widgetIcon i.icon {
  font-size: 4em;
}

#pricing .card-panel td, th {
  padding: 5px 10px;
}

#pricing .card-panel {
  padding: 1em 1em;
}

footer {
  position: relative;
}

footer .container {
  min-width: 90%;
}

footer.page-footer ul li a {
  font-size: 0.7em !important;
}

a#toTop {
  position: absolute;
  bottom: 50%;
  right: 2em;
  color: white;
  font-size: 2em;
  border: 2px solid;
  border-radius: 50%;
  padding: 0px 13px;
  width: 1.5em;
  height: 1.5em;
}


.sidenav {
  width: 200px;
}

.sidenav li a.btn-large {
  height: 45px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 45px;
  letter-spacing: 2.1px;
  border-radius: 2px;
}

.sidenav a.brand {
  font-size: 2em;
  padding: 5px 10px 10px;
  color: #455ad4 !important;
}

.sidenav li>a.link {
  padding: 5px 20px 20px 20px;
  font-size: 16px;
  line-height: 15px;
  color: #757575;
  height: 15px;
}

.sidenav .subheader {
  padding: 0px 19px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
}

.sidenav a.brand:hover {
  background: inherit;
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="icon"], .sidenav li>a>i.fa {
  margin: 0 5px 0 10px;
  font-size: 0.7em;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
}

/* 
320
400
600
640
768
1024
1440
*/

@media screen and (max-width: 400px) {
  a#toTop {
    bottom: 15%;
    right: 0.5em;
    background: #3F51B5;
  }
  .banner {
    padding-top: 5vh;
  }
  .banner h1 {
    font-size: 2em;
  }
  .banner p {
    font-size: 1.2em;
  }
  .banner form row {
    margin-top: -1.2em;
  }
  .banner form input[type="text"] {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {

}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: inline-block;
    margin-right: -1.7em;
  }
}

/* 4K Screens */
@media screen and (min-width: 1440) {
  body {
    font-size: 200%;
  }
}

@media screen and (max-width: 610px) {
  .banner form input[type="text"] {
    width: 95%;
  }
  .banner form .market-link {
    margin-top: 3em;
  }
  .banner form button {
    margin-top: 0em;
  }
  .infobar p.flow {
    margin-top: 0.85em;
    font-size: 1.5em;
  }
  .descBox {
    margin: 1.5em auto 3em;
    display: block;
    float: none;
  }
}